{{extend 'base.html'}}

{{block title}}
  {{=response.title}}
    <small>{{=response.subtitle or ''}}</small>
{{end}}

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="dashboard-div-wrapper bk-clr-one">
    <i  class="fa fa-check dashboard-div-icon" ></i>
    <a style="color: #fff" href="{{=URL('notas')}}"> <h5>NOTAS</h5> </a>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="dashboard-div-wrapper bk-clr-two">
    <i  class="fa fa-comment-o dashboard-div-icon" ></i>
        <a style="color: #fff" href="{{=URL('forum')}}"> <h5>FÓRUM</h5> </a>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="dashboard-div-wrapper bk-clr-three">
    <i  class="fa fa-graduation-cap dashboard-div-icon" ></i>
        <a style="color: #fff" href="{{=URL('biblioteca')}}"> <h5>BIBLIOTECA</h5> </a>
  </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-6">
  <div class="dashboard-div-wrapper bk-clr-four">
    <i  class="fa fa-envelope-o dashboard-div-icon" ></i>
        <a style="color: #fff" href="{{=URL('contato')}}"> <h5>CONTATO</h5> </a>
  </div>
</div>